<ng-container *ngIf="auth.isAuthenticated$ | async; else login ">
    <button mat-button color="secondary" (click)="logout()">Logout</button>
</ng-container>
<ng-template #login>
    <button mat-button color="secondary" (click)="loginWithRedirect()">Login</button>
    <button mat-button color="secondary" (click)="signUpWithRedirect()">SignUp</button>
</ng-template>