<mat-toolbar color="primary">
    <div style="height:inherit;">
        <a routerLink="" style="height:inherit;" class="title"><img style="height: inherit;" [src]="logoPath" /></a>
    </div>
    <span class="spacer"></span>
    <nav>
        <button class="leaf-button" mat-button color="secondary" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active" routerLink="">Calculator</button>
        <button class="leaf-button" mat-button color="secondary" [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="active" routerLink="/edit">Edit Currency</button>
        <app-email-login></app-email-login>
    </nav>
</mat-toolbar>