<footer id="footer">
    <div class="footer-content">
        <img style="max-height: 100px; display: inline-block;" [src]="logoPath" />
            <div style="display:inline-block">
                <span>{{contactInfo?.name}}</span> <br />
                <span>{{contactInfo?.email}}</span><br />
                <span>{{contactInfo?.address}}</span><br />
              <a href="tel:{{contactInfo?.phone}}">{{contactInfo?.phone}}</a>
            </div>
    </div>
</footer>
