<form class="add-form" [formGroup]="newCurrGroup">
    <mat-form-field appearance="fill">
        <mat-label>ISO</mat-label>
        <input matInput formControlName="ISO">
        <mat-error *ngIf="newCurrGroup.controls['ISO'].invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Currency</mat-label>
        <input matInput formControlName="currency">
    </mat-form-field>
</form>
<button class="submit-button" mat-raised-button color="accent" (click)="submitNew()">Save Changes</button>