.add-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mat-form-field{
    margin-left: 25px;
}

.submit-button{
    width: 125px;
    margin-right: 25px;
    margin-left: 100%;
    float: right;
}