<div>
    <span class="edit-title">Edit Convertion Rate</span>
    <form class="convert-form" [formGroup]="convertionForm">
        <mat-form-field appearance="fill">
            <mat-label>Select Currency</mat-label>
            <mat-select formControlName="convertionCurrency">
                <mat-option *ngFor="let curr of currencyList" [value]="curr">
                    {{curr.ISO}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Convertion Rate</mat-label>
            <input matInput type="number" formControlName="convertionRate">
        </mat-form-field>
    </form>
    <button class="submit-button" mat-raised-button color="accent" (click)="submitEdits()">Save Rate</button>
</div>