<div>
    <form [formGroup]="groupForm">
        <mat-form-field appearance="fill">
            <mat-label>Select Currency</mat-label>
            <mat-select [(ngModel)]="selectedBase" formControlName="baseCurr">
                <mat-option *ngFor="let curr of currencyList" [value]="curr">
                    {{curr.ISO}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="groupForm.controls['baseCurr'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>ConvertTo</mat-label>
            <mat-select [(ngModel)]="selectedConvertion" formControlName="convertTo">
                <mat-option *ngFor="let curr of currencyList" [value]="curr">
                    {{curr.ISO}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="groupForm.controls['convertTo'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" type="number" id="input-amount">
            <mat-error *ngIf="groupForm.controls['amount'].invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </form>
    <button mat-raised-button color="accent" [disabled]="!groupForm.valid"
        (click)="calculateConvertion()">Convert</button>

    <!-- Results Area -->

    <div class="results" *ngIf="convertionResult>0">
        <p class="base">{{selectedAmount}} {{selectedBase?.currency}} =</p>
        <p class="convertion-results">{{convertionResult | number : '1.2-5'}} {{selectedConvertion?.currency}}</p>
        <div *ngIf="selectedAmount>1" class="base-units">
            <span>1 {{selectedBase?.ISO}} = {{convertionRate | number : '1.2-5'}} {{selectedConvertion?.ISO}}</span><br>
            <span>1 {{selectedConvertion?.ISO}} = {{1/convertionRate | number : '1.2-5'}} {{selectedBase?.ISO}}</span>
        </div>
    </div>
</div>