<p><button mat-raised-button color="accent" (click)="changeForm()">{{btnText}}</button></p>
<span class="edit-title">{{titleText}}</span>
<ng-container *ngIf="editCurrency; then editForm ; else addForm"></ng-container>
<ng-template #editForm>
    <div>
        <form [formGroup]="baseCurrGroup">
            <mat-form-field appearance="fill">
                <mat-label>Select Currency</mat-label>
                <mat-select formControlName="currencySelect">
                    <mat-option *ngFor="let curr of currencyList" [value]="curr">
                        {{curr.ISO}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <!-- Show edit form if selectedCurrency not null || undefined -->
    <ng-container *ngIf="selectedCurrency">
        <form class="edit-form" [formGroup]="editFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Edit ISO</mat-label>
                <input matInput formControlName="newISO">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Edit Currency</mat-label>
                <input matInput formControlName="newCurrency">
            </mat-form-field>
        </form>
        <button class="submit-button" mat-raised-button color="accent" (click)="submitEdits()">Save Changes</button>
        <app-edit-convertion-rate [baseCurrency]="selectedCurrency" [currencyList]="currencyList">
        </app-edit-convertion-rate>
    </ng-container>
</ng-template>
<ng-template #addForm>
    <app-add-currency (newCurrency)="updateCurrencyList($event)"></app-add-currency>
</ng-template>