/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; 
    background-color: rgb(130 213 197 / 15%);
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
